/* ======================= WINDOW ===================== */
/*
#reception {
  margin: auto;
  width: 60%;
  height: auto;
  background: linear-gradient(#1A597588, #3D637344);
  border-radius: 10%;
  z-index: 1;
}
*/

/*
.sub-title {
  text-align: center; 
  color: white;
  padding: 30px 0px 30px 0px;
  font-family: 'Press Start 2P', cursive;
}

.hbox {
    text-align: center;
    position: center;
    margin: 0px 30px 0px 30px;
    display: flex;
    width: 50%;
    height: 50%;
}

.hbox .box {
	margin: 0px 100px;
	font-family: 'Press Start 2P', cursive;
	margin: 0px 50px 0px 30px;
    color: gray;
}
*/

.vbox {
  margin: 30px 0 0 0;
}

.linker {
  width: 600px;
	height: auto;
  margin:auto;
  display:flex;
}

.preview {
  align-self: flex-start;   /* safari */
	width: 600px;
	height: auto;
  text-align:center;
  margin:auto;
  display:flex;
}

p {
  text-align: center; 
  color: gray;
  padding: 30px 0px 30px 0px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Press Start 2P', cursive;
}

@media screen and (max-width: 800px) {
  .linker {
    width: 68%;
    height: auto;
  }

  .preview {
    width: 100%;
    height: auto;
  }
}

/* ====================== EFFECT ======================== */
.preview {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.preview:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*
body{ 
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari 
}
*/

/* ======================= SUN ========================== */
.sun { 
  position: absolute;
	top:70%;
	left:5%;
	margin: auto;  
	width:70px;
	height:70px;
	border-radius:50%;	
	background: #FDD9BE;
	opacity:0.9;			
	box-shadow: 0px 0px 40px 15px white;  

    animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
	-moz-animation: fadeIn ease 3s;
	-o-animation: fadeIn ease 3s;
	-ms-animation: fadeIn ease 3s;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .sun {
    top:200px;
    left:5%;
  }
}

.ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;	
  width:70px;  
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
  z-index: -1;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,254,253,0) 0%, rgba(255,254,253,0.8) 50%, rgba(255,254,253,0) 100%);
		background: linear-gradient(top, rgba(255,254,253,0) 0%, rgba(255,254,253,0.8) 50%, rgba(255,254,253,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
    z-index: -1;
}

.ray1 {    
    height:170px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}


@-webkit-keyframes ray_anim { 
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}